!!! 5
html
  head
    title IFEA - browser-detect
    link(rel='stylesheet', href='/browser-detect/app.css')
    meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width')
  body
    h3 IFEA - browser-detect
    script(src='/socket.io/socket.io.js')
    script(src='/browser-detect/app.js')
