!!! 5
html
  head
    title IFEA - type
    link(rel='stylesheet', href='/type/app.css')
    meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width')
  body
    h3 IFEA - type
    script(src='/socket.io/socket.io.js')
    script(src='/type/app.js')
