!!! 5
html
  head
    title IFEA - unit - image-upload
    link(rel='stylesheet', href='/image-upload/app.css')
    meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width')
  body
    h3 Image upload module test:
    input#browseButton(type='file', title='Browse')
    script(src='/socket.io/socket.io.js')
    script(src='/image-upload/app.js')
